#Comeco{
    color:red;
    padding-left: 40%;
   padding-bottom: 10px;
}
#Curso{
    color: blue;
   
}
#Linguagens{
    color:dodgerblue;
}
div nova{
    background-color: pink;
}
#Obs{
    color: darkorange;
}
body{
    background-color:azure;
    ;
}